.jumbotron
  %h1.display-4
    Hi #{current_user&.email}
  %p.lead
    This app is for experimenting with
    = link_to 'Stimulus', 'https://github.com/stimulusjs/stimulus',
              target: '_blank'
    and for tracking home inventory.
